.background{
  width:100%;
  height: 450px;
}

.card{
  background-color: white;
  width: 20%;
  height: 150px;
}


h1{
  font-size: 60px;
  color:  white;
  align-items: center;
  justify-content: center;
}
h3{
  color: rgb(80, 75, 75);
}

p{
  color: white;
  font-size: 30px;
}

footer{
  color: white;
  font-size: 20px;
  background-color: black;
  height: 30px;
  
}
.material-icons{
  font-size: 67px;
}