
<div style="background-color:rgb(80, 75, 75)" class="background" fxLayout="row" fxLayoutAlign="space-around center">
 <div>
   <h1>Santander-Quiz</h1>
   <p>- Its a cloud based platform for accessing knowledge and self learning.</p>
   <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px" style="margin-top:70px;margin-right:750px">
   <button mat-raised-button style="width:120px" (click)="openRegisterDialog()">Register</button>
   <button mat-raised-button style="width:120px" (click)="openLoginDialog()">Login</button>
  </div>
 </div>
</div>


 <div style="margin-top:5%"  fxLayout="row" fxLayoutAlign="space-around center">
    <div class="card">
        <mat-card>
        <mat-card-content>
         <h3>TAKE</h3>
         <i class="material-icons">
            local_library
            </i>
        </mat-card-content>
      </mat-card>
      </div>
      <div class="card">
      <mat-card>
        <mat-card-content>
          <h3>ANALYZE</h3>
          <i class="material-icons">
              find_in_page
              </i>
        </mat-card-content>
      </mat-card>
      </div>
      <div class="card">
      <mat-card>
        <mat-card-content>
          <h3>VIEW</h3>
          <i class="material-icons">
              visibility
              </i>
        </mat-card-content>
      </mat-card>
      </div>
</div> 

<footer>
  <div style="margin-top:50px; margin-left:500px">
      Santander powered by ITC Infotech
  </div></footer>