h1 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0.8em 0;
    padding: 0;
  }
  .cards-set {
    font-size: 0;
    margin-top: 60px;
     margin-left: 200px; 
   /* margin-right: 150px; */
  }
  .card {
    display: inline-block;
    margin: 8px;
    width: 80%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  }
  .card .heading {
    position: relative;
    height: 350px;
    color:black;
  }
  .card .heading h1 {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 50px;
  }
  .card .content {
    padding: 16px;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
