
<!-- <div *ngFor = "let ques of question">
 <mat-card class="example-card1">
    <mat-card-header>
      <mat-card-title>{{ques.questionId}}</mat-card-title>
      <mat-card-subtitle>{{ques.questionTitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ques.questionContent}}
      </p>
      <div *ngFor= "let answerOption of ques.answerOptions">
            <p>{{answerOption.optionContent}}</p>
      </div>
    </mat-card-content>
    <button mat-icon-button (click)= "onNextButtonClick()"></button>
  </mat-card>
</div> -->


<div fxLayout="row" fxLayoutAlign="space-between center" style="padding-left:20px; padding-right:30px">
  <div>
  <h1>{{quizName}}</h1></div>
  <div>
  <p><span><mat-icon>timer</mat-icon>{{quizDuration}} sec left.</span></p>
</div>
</div>

<div class="cards-set">
    <div class="card">
      <div class="heading" style="background-color: #ffffff">
        <mat-card fxLayout="row" fxLayoutAlign="center center"  >
          <div>
            <!-- <mat-card-header>
                <div mat-card-avatar class="example-header-image1"></div>
              
              </mat-card-header> -->
              <mat-card-content>
                  <label id="example-radio-group-label"> 
                      Q. {{question.questionTitle}}
                  </label>
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="userSelectedOption" >
                    <mat-radio-button class="example-radio-button" 
                            *ngFor= "let answerOption of question.answerOptions" 
                            [value]="answerOption.optionContent">
                        {{answerOption.optionContent}}
                        
                    </mat-radio-button>
                  </mat-radio-group>
                  {{userSelectedOption}}
              </mat-card-content>
              <div>
                  <mat-card-actions  fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px">
                    <button mat-button (click)="onNextButtonClick()" *ngIf= "!lastQuestion">Next</button>
                    <button mat-button (click)="onNextButtonClick()" *ngIf= "lastQuestion">Finish</button>
                    <!-- <button mat-button (click)= "onCancel()">Skip</button> -->
                  </mat-card-actions>
                </div>
            </div>
            
          </mat-card>

          <div style="margin-top:25px">
              <mat-card-actions  fxLayout="row" fxLayoutAlign="center center" >
                  <button mat-button (click)="endQuiz()" style="color:red">End Test</button>    
              </mat-card-actions>
          </div>
        </div>
    </div>
</div>
