


<div class="example-container">
        <mat-card>
                <mat-card-title>REGISTER HERE</mat-card-title>
          <mat-card-content>
          
              <p>
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
     </p>
     <p>
        <mat-form-field hintLabel="Max 5 characters">
                <input matInput #input maxlength="5" placeholder="Enter your PSID">
                <mat-hint align="end">{{input.value?.length || 0}}/5</mat-hint>
    </mat-form-field>
</p>
<p>
              <mat-form-field>
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </p>

                <div class="button">
                        <button  mat-button (click)="submit()">Register</button>
                       
                      </div>
                      {{msg}}
      
    </mat-card-content>
</mat-card>

      </div>
      