<!-- <div fxLayout="row" fxLayoutAlign="space-between center">
    <div><app-nav-bar></app-nav-bar></div> -->
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap= "5px">
        <!-- <div class="san-logo"> -->
            <!-- <app-san-carousel></app-san-carousel> -->
        <!-- </div> -->
        <div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutGap= "5px">
            <div *ngFor = "let data of listOfAllQuizzes">
                <div fxLayout= "row wrap" fxLayoutAlign= "space-between" padding="4px">
                    <app-card [quiz]="data" [componentName]= "dashboard"></app-card>
                </div>
            </div>
        </div>
    </div>    
<!-- </div>  -->

<section></section>
