/* .picsum-img-wrapper{
    width: 100%;
    height: 30vh;
} */

ngb-carousel .picsum-img-wrapper {
    position: relative;
    height: 0;
    padding-top: 25%; /* Keep ratio for 900x500 images */
  }
  
  ngb-carousel .picsum-img-wrapper>img {
    position: absolute;
    width: 100vw;
    height: 100%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 50px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }