<!-- <div class="example-container">
 <mat-card>
        <mat-card-title>LOGIN</mat-card-title>
  <mat-card-content>
   
      <p>
          <mat-form-field hintLabel="Max 5 characters">
              <input matInput #input maxlength="5" placeholder="Enter your PSID" [(ngModel)]='userPsid' >
              <mat-hint align="end">{{input.value?.length || 0}}/5</mat-hint>
            </mat-form-field>
      </p>

      <p>
          <mat-form-field>
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]='password'>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
      </p>

    

      <div class="button">
        <button  mat-button (click)="onLogin()">Login</button>
      </div>

   
  </mat-card-content>
</mat-card>
</div> -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
    <label>
      PSID:
      <input type="text" formControlName="psid">
    </label>
  
    <label>
      Password:
      <input type="password" formControlName="password">
    </label>
  
    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>

