:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .button {
   
    display: flex;
    justify-content: flex-end;
 
  }

  .example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }