<div *ngIf="quiz!=null">
  <mat-card class= "quiz-Card-1" (click)="onSelect()" >
    <mat-card-actions>
      <mat-card-header>
        <mat-card-title>{{quiz.quizCode | uppercase}}</mat-card-title>
        <mat-card-subtitle> {{quiz.quizName | uppercase}}</mat-card-subtitle>
      </mat-card-header>
      
      <!-- <mat-card-footer class="card-footer1">
      </mat-card-footer>   -->
    </mat-card-actions>
  </mat-card>
</div>




<!-- <div *ngIf="quiz!=null">
    <mat-card class="quiz-card">
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between" class="header-color">
  
        <mat-card-title matTooltip="Quiz Title">{{ quiz.title | uppercase }} </mat-card-title>
        <mat-card-subtitle matTooltip="Quiz code">{{quiz.quizCode}} create on {{quiz.createDate}}
        </mat-card-subtitle> -->
        <!-- <mat-card-subtitle> By {{quiz.name | titlecase}} {{quiz.createDate}}</mat-card-subtitle> -->
        <!-- <div style="margin-right: 25px;">
          <button mat-icon-button (click)="addToFavourite(quiz.quizCode)"> -->
            <!-- <mat-icon class="fav-icon" *ngIf="fav==false" matTooltip="Click to bookmark">favorite_border</mat-icon> -->
            <!-- <mat-icon class="fav-icon" *ngIf="fav==true" matTooltip="Click to bookmark" style="color: red">favorite
            </mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="card-content">
        <div fxLayout="row" fxLayoutAlign="space-between start" class="subject-icon">
          <div style="word-break: break-all" class="description-view"> {{quiz.description}} </div>
          <div style="margin-right: 20px">
            <button mat-icon-button matTooltip="Click to play" color="primary" (click)="onSelect()">
              <mat-icon style="font-size: 60px; margin-bottom: 10px">play_circle_filled</mat-icon>
            </button>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="card-icons">
          <div class="icon-flex">
            <mat-icon class="nav-icon" matTooltip="Timer">query_builder</mat-icon>
            <div class="icon-space">{{quiz.maxDurationMinutes}} min </div>
          </div>
          <div class="icon-flex">
            <mat-icon class="nav-icon" matTooltip="{{quiz.maxScore}} points">emoji_events</mat-icon>
            <div class="icon-space"> {{quiz.maxScore}} points</div>
          </div>
        </div> -->
        <!-- for dispalaying concepts.. -->
        <!-- <mat-chip-list>
          <div *ngIf="quiz.concepts!=null" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-chip *ngFor="let concept of quiz.concepts" class="subject-chip">{{concept | titlecase}}
            </mat-chip>
          </div>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div> -->
  

  <!-- <mat-card class="example-card1">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image1"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <mat-icon>query_builder</mat-icon> -->
      <!-- <button mat-raised-button color="red">Primary</button> -->
    <!-- </mat-card-actions>
  </mat-card> -->