<!-- <p>quiz-lobby works!</p>

<mat-card class="example-card1">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image1"></div>
      <mat-card-title>{{quiz.quizCode}}</mat-card-title>
      <mat-card-subtitle>{{quiz.quizName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{quiz.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)= "onCancel()">Cancel</button>
      <button mat-button (click)="startQuiz()" >Play Quiz</button>
      <mat-icon>query_builder</mat-icon>
     <button mat-raised-button color="red">Primary</button> 
    </mat-card-actions>
  </mat-card> -->

<div class="cards-set">
  <div class="card">
    <div class="heading" style="background-color: #8f8c8d">
      <mat-card fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div>
          <mat-card-header>
              <div mat-card-avatar class="example-header-image1"></div>
              <mat-card-title>{{quiz.quizCode}}</mat-card-title>
              <mat-card-subtitle>{{quiz.quizName}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p><span><mat-icon>timer</mat-icon>{{quiz.maxDurationMinutes}}</span>
                  <span><mat-icon> flag </mat-icon>{{quiz.maxAttempts}}</span>
                  <span><mat-icon> star </mat-icon>{{quiz.maxScore}}</span>
                </p>
              <p>{{quiz.description}}</p>
            </mat-card-content>
          </div>
          <div>
            <mat-card-actions fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
              <button mat-button (click)="startQuiz()" >Play Quiz</button>
              <button mat-button (click)= "onCancel()">Cancel</button>
            </mat-card-actions>
          </div>
        </mat-card>
      </div>
      
      <mat-tab-group >
          <mat-tab label="TOPICS"> 
              <div *ngFor= "let concept of quiz.concepts">
                {{concept}}
              </div>
          </mat-tab>
          <mat-tab label="PRE-REQUISITES">
            <ul>
              <li>Basic knowledge of java</li>
               <li>HTML and CSS should be proficient</li>
               <li>Angular Material should be done</li>
            </ul>
          </mat-tab>
          <mat-tab label="REWARDS"> 
            <ul>
              <li>Currently, No rewards is aplicable.</li>
            </ul>
             </mat-tab>
        </mat-tab-group>
        
  </div>
</div>