mat-card-title {
    /* margin: 0;
    padding: 0; */
   
    font:italic 30px Georgia, serif;
    /* font-size: 70%; line-height:80%; */
    margin-bottom: 180px;
    /* margin-left:20px; */
    
  }
   /* p {
    margin: 0.8em 0;
    padding: 0;
  }  */
  .cards-set {
    font-size: 0;
  }
  .card {
    display: inline-block;
    margin: 8px;
    margin-left: 60px;
    width: 90%;
    min-height: 280px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  }
  .card .heading {
    position: relative;
    height: 250px;
    color:black;
  }
  .card .heading h1 {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 24px;
    
  }
  .card .content {
    padding: 16px;
  }

  mat-card-actions{
      align-content: right;
  }
  .example-stretched-tabs {
    max-width: 800px;
  }

  mat-tab-group{
      
      align-items: flex;
      justify-content: space-between;
  }

